<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Proj 17</title>
  
</head>

<body>
 <div class="login">
	<h1>Detecting Fraud Transaction</h1>

     <!-- Main Input For Receiving Query to our ML -->
	 <!-- class="btn btn-primary btn-block btn-large" -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="number" name="index" placeholder="Input no. b/w 0 and 506691" required="required" min=0 max=506691 />
        <button type="submit" >Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>